<header>
    <img src="/img/l.gif" width="110">
    <div>
        <h1 style="color:lightblue;"> Vasavi College of Engineering</h1>
        <em>
            (Private Un-aided Non-minority Autonomous Institution)
            <br>
            <span style="color:red;">ACCREDITED BY NAAC WITH 'A++' GRADE</span>
            <br>
            Affiliated to Osmania University and Approved by AICTE.
        </em>
    </div>
    <br>
    <br>
    <br>
</header>
<nav>
    <ul>
        <dl class="abc"><img src="img/logo2.png" width="40px" height="40px"></dl>
        <dl class="a">Placement Cell</dl>
        <ul class="aaa">
        <dl><a href="/">Home</a></dl>
        <dl><a href="/about" >About</a></dl>
        <dl><a href="/placement_login" >Login</a></dl>
        <dl><a href="/experiences" >Experiences</a></dl></ul>
    </ul>
</nav>
<style>
    .a{
        width : 12%;
        padding-top: 0.4rem;
        font-size:x-large;
        padding-left: 6px;
    }
    .abc{
        display : flex;
        flex-direction: row;

    }
    .abc>img{
        margin: 0;
        padding : 0;
        border-radius: 50%;
    }
    .aaa{
        display: flex;
        justify-content: flex-end;
        gap : 15%;
        padding-top : 0.3rem;
        margin-right : 2%;
    }
    dl{
        color : aliceblue;
        font-size:larger;
    }
    .em{
        color:grey;
    }
    a{
        color:aliceblue;
    }
    img{
        max-width:100%;
        height: auto;

    }   
    header {
    background-color:aliceblue;
    color: grey;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

header h1 {
    margin: 0;
    margin-right: 40px;
}
nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0px;
    width:100%;
    background-color: #0066cc;
    justify-content: space-around;
}

nav ul li {
    margin-right: 0rem;
}
</style>